<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="helloview"
         name="My view"
         point="pt.iscte.pidesco.view">
      <view
            class="pt.iscte.pidesco.demo.TestView"
            icon="prettysmile.png">
      </view>
   </extension>
   <extension
         id="codeGenerationReplacement"
         name="CGS"
         point="pt.iscte.pidesco.codegenerator.codeGenerationReplacement">
      <codeGenerationReplacement
            class="pt.iscte.pidesco.demo.CGS"
            name="CGS">
      </codeGenerationReplacement>
   </extension>
   <extension
         id="codeGenerationReplacement2"
         name="CGS"
         point="pt.iscte.pidesco.codegenerator.codeGenerationReplacement">
      <codeGenerationReplacement
            class="pt.iscte.pidesco.demo.CGS2"
            name="CGS">
      </codeGenerationReplacement>
   </extension>
   <extension
         id="codeGenerationReplacement3"
         name="CGS"
         point="pt.iscte.pidesco.codegenerator.codeGenerationReplacement">
      <codeGenerationReplacement
            class="pt.iscte.pidesco.demo.CGS"
            name="CGS">
      </codeGenerationReplacement>
   </extension>
   <extension
         id="CGSAdd"
         name="CGSAdd"
         point="pt.iscte.pidesco.codegenerator.codeGenerationAdd">
      <codeGenerationAdd
            class="pt.iscte.pidesco.demo.AddExtensionTest"
            name="AddExtension">
      </codeGenerationAdd>
   </extension>
   <extension
         point="pt.iscte.pidesco.codegenerator.codeGenerationAdd">
      <codeGenerationAdd
            class="pt.iscte.pidesco.demo.AddExtensionTest2"
            name="test2">
      </codeGenerationAdd>
   </extension>

</plugin>
